body {
    background: #363636;
}

/* MENU */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #272727;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover:not(.active) {
    background-color: #dd4949;
    text-decoration: none;
    color: white;
  }
  
  .active {
    background-color: #dd4949;
  }

/* CAROUSEL */

.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item, 
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width:776px) {
    .carousel {
        height: 100%;
    }
}

.page-footer {
    background-color: #929FBA;
}

main .container #header {
    background: gray;
}
    .carousel {
      height: 60vh;
}

@media (max-width:740px) {
    html, 
    body, 
    .carousel {
      height: 100vh;
  }
@media (min-width: 800px) and (max-width: 850px) {
    html, 
    body, 
    header,
    .carousel {
      height: 100vh;
    }
  }
}

a {
  text-decoration: none;
  color: grey;
}

.container {

  padding: 0;
}

div.col-md-12.col-lg-4{
  background: #272727;
}

div.poster {

  margin-top: 15px;
  background: #272727;
}

section.post {
  margin-top: 3%;
}

h1.post {
  font-size: 20px;
  margin-top: 5%;
  font-weight: bold;
}

span.post {
  padding-right: 3%;
  margin-top: 3%;
}

p.text-left {
  font-size: 18px;
  margin-top: 3%;
}

